<div class="form-card">
  <div class="content">
    <h4>Login</h4>
      <form (keyup)="CheckValidity()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="Email" [(ngModel)]="email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" name="Password" [(ngModel)]="password"/>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" [disabled]=!isFormValid  (click)="login()">Log in</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>

